server:
  servlet:
    context-path: /api
springdoc:
  version: '0.3.0'
spring:
  profiles:
    active: http
  data:
    web:
      pageable:
        one-indexed-parameters: true #Allow the UI to query page 1 instead of 0

management:
  endpoints:
    web:
      exposure:
        include: health, httptrace, metrics, mappings
  trace:
    http:
      include: request-headers,response-headers,cookie-headers,principal,time-taken,authorization-header,remote-address,session-id