iesi:
  home: "."
  guard:
    authenticate: N
  #  script:
  #    execution:
  #       runtime: ''
  server:
    #    mode: off
    mode: standalone
    threads:
      timeout: 30
  workers:
    - path: '.'
  master:
    path: '.'
    endpoint: ''