<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File fileName="${ctx:location}/${ctx:fwk.code}.log" name="default" append="true">
            <PatternLayout>
                <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Routing name="elasticSearchFileBeat">
            <Routes pattern="$${marker:}">
                <Route key="${marker:}">
                    <File fileName="${ctx:location}/filebeat.log" name="script" append="true">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
                <Route>
                    <File fileName="${ctx:location}/filebeat/${marker:}.log" name="filebeat-${marker:}" append="false">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="scriptExecution">
            <Routes pattern="$${ctx:runId}">
                <Route key="${ctx:runId}">
                    <File fileName="${ctx:location}/${ctx:fwk.code}.log" name="script" append="true">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
                <Route>
                    <File fileName="${ctx:location}/${ctx:runId}/script.log" name="script-${ctx:runId}" append="false">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="repository">
            <Routes pattern="$${ctx:runId}">
                <Route key="${ctx:runId}">
                    <File fileName="${ctx:location}/${ctx:fwk.code}.log" name="repository" append="true">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
                <Route>
                    <File fileName="${ctx:location}/${ctx:runId}/repository.log" name="repository-${ctx:runId}" append="false">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="queries">
            <Routes pattern="$${ctx:runId}">
                <Route key="${ctx:runId}">
                    <File fileName="${ctx:location}/SQL.log" name="queries" append="true">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
                <Route>
                    <File fileName="${ctx:location}/${ctx:runId}/SQL.log" name="queries-${ctx:runId}" append="false">
                        <PatternLayout>
                            <Pattern>%d %-5p [%c{1.}] - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%c{1.}] - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.metadew.iesi" additivity="false" level="all">
            <AppenderRef ref="STDOUT" level="info" />
            <AppenderRef ref="default" level="all" />
        </Logger>
        <Logger name="io.metadew.iesi.connection.elasticsearch.filebeat" additivity="false" level="all">
            <AppenderRef ref="elasticSearchFileBeat" level="info" />
            <AppenderRef ref="default" level="all" />
        </Logger>
        <Logger name="io.metadew.iesi.connection.database" additivity="false">
            <AppenderRef ref="queries" level="all" />
        </Logger>
        <Logger name="io.metadew.iesi.script" additivity="false">
            <AppenderRef ref="STDOUT" level="info" />
            <AppenderRef ref="scriptExecution" level="all" />
        </Logger>
        <Logger name="io.metadew.iesi.metadata.configuration" additivity="false">
            <AppenderRef ref="repository" level="all" />
        </Logger>
        <Root level="warn" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>